@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

*{
  padding:0px;
  margin: 0px;
  font-family: Arial;
  box-sizing: border-box;
  font-family: 'Montaga', serif;
overflow-x:hidden;
}

.container1{
  width:80%;
  height: 40%;
  background-image: linear-gradient(to bottom right, #aff5f7, #81d8d0,	#bae3df);
  
 

  margin-left:10%;
  margin-top:15%;
  border-color: red;
  border-radius: 10%;
  padding:5%

}

.product_image{
  width:70%;
  margin-left: 15%;
}

.adidas_product{
  width:100%;
  border-radius: 10%;
  
}
.nike_product{
  width:100%;
  border-radius: 10%;
}

.product_title{
 font-size:200%;
 margin-left:12%;
}
.price{
  font-size: 200%;
  margin-left:50%;
  
}

.product_button{
font-size: 140%;
padding:1%;
margin-left: 20%;
}

.product_buy{
  margin-left: 50%;
}
.product_cart{
  margin-left: 30%;
}

.summer_sale_title{
  margin-top:10%;
  padding:10%;
  text-align:center;
  margin-left: 4%;

}

.summer_sale_words{
 width:60%;
 text-align:center;
 margin-left: 20%;
font-size: 30px;
}

.shop{
  margin-top:10%;
  padding:10%;
  text-align: center;
  font-size: 35px;
}

.container2{
  width:80%;
  
  margin-left:10%;
  margin-top:15%;
  border-color: red;
  border-radius: 10%;
  padding:5%
}





.title1{
  font-size:200%;
  margin-left:50%;
}

.container3{
  width:80%;
  
  margin-left:10%;
  margin-top:15%;
  border-color: red;
  border-radius: 10%;
  padding:5%
}


.title3{
  font-size:200%;
  margin-left:50%;
}

.container4{
  width:80%;
 
  margin-left:10%;
  margin-top:15%;
  border-color: red;
  border-radius: 10%;
  padding:5%
}


.title4{
  font-size:200%;
  margin-left:50%;
}
.collection_image{
  width:90%;
  margin-left:5%;
}
.shop_collection{
  margin-top:10%;
  padding:10%;
  text-align: center;
  font-size: 35px;
}

.clearance_Title{
  margin-left: 5%;
  margin-top: 5%;
}
.clearance_Words{
  font-size:25px ;
  margin-left: 5%;
  margin-top: 5%;
}
.shop_Button{
  margin-left: 5%;
  font-size: 30px;
  padding:10px;
  border-radius:20%;
  border:0;
  background-color: black;
  color:white;
  margin-top: 5%;
}
.shop_Button:hover{
  background-color: rgb(255, 0, 0);
}
.coming_soon{
  font-size:300%;
  margin-left:20%;
  margin-top:10%;
 
  margin:30%;
  text-align: center;
}

.rip{
  font-size:200%;
  margin-left:5%;
  margin-top:10%;
  padding:5%;
  
  text-align: center;
}

.abloh_drawing{
  padding: 10px ;
}

.videoWrapper {
margin-top:10% ;
margin-left:10%;
  
}

.gifs{
  width:95%;
  height:auto;
}

.gif_words{
  padding: 20px;
  text-align: center;
  margin-left: 10%;
  width:85%;
  font-size:25px ;
}


.gif_words_models{
  padding: 20px;
  text-align: center;
  margin-left: 10%;
  width:85%;
  font-size:25px ;
}