@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Passion+One&family=Source+Sans+Pro&display=swap');

*{
  padding:0px;
  margin: 0px;
  font-family: Arial;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
overflow-x:hidden;
}

.navMiddle{
margin-left: 41%;
}

.vapormax{
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */

  font-family: 'Passion One', cursive;
  margin-left: 10%;
  text-align: center;


  font-size: 200px;
  color:white ;
}

.product_image{
  width:70%;
  margin-left: 15%;
}

.adidas_product{
  width:100%;
  border-radius: 10%;
  
}
.jordan_product{
  width:100%;
  border-radius: 10%;
  
}
.nike_product{
  width:100%;
  border-radius: 10%;
}

.product_title{
 font-size:200%;
 margin-left:12%;
}
.price{
  font-size: 200%;
  margin-left:50%;
  
}

.product_button{
font-size: 140%;
padding:1%;
margin-left: 20%;
}

.product_buy{
  margin-left: 50%;
}
.product_cart{
  margin-left: 30%;
}

.summer_sale_design{
  background-color:  	#01c8e9;
  margin-top: 10%;
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
}
.summer_sale_title{
  
  padding:10%;
  text-align:center;
  margin-left: 4%;
  font-size: 50px;
  font-family: 'Passion One';
  color:	#e0ffff;

}



.shop{
  margin-top:10%;

  text-align: center;
  font-size: 35px;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.rowContainer{
  width:80%;
  
  margin-left:10%;
  border-color: red;
  border-radius: 10%;
  padding:5%
}
.rowContainer2{
  width:100%;
  
  margin-left:0%;
  border-color: red;
  
  padding:5%
}
.rowContainer3{
  width:100%;
  border-color: red;
  padding:5%
}

.rowContainer4{
  width:100%;
  border-color: red;
  padding:5%
}
.rowContainer5{
  width: 100%;
  border-color: red;
  padding:5%
}
.container2{
  width:100%;
  
  margin-left:10%;
  margin-top:15%;
  border-color: red;
  border-radius: 10%;
  padding:5%
}

.collection_imageLarge1{
  width: 98%;
}
.collection_imageLarge2{
  width: 110%;
}

.title1{
  font-size:200%;
  margin-left:50%;
}

.container3{
  width:80%;
  
  margin-left:10%;
  margin-top:15%;
  border-color: red;
  border-radius: 10%;
  padding:5%
}


.title3{
  font-size:200%;
  margin-left:50%;
}

.container4{
  width:80%;
 
  margin-left:10%;
  margin-top:15%;
  border-color: red;
  border-radius: 10%;
  padding:5%
}


.title4{
  font-size:200%;
  margin-left:50%;
}
.collection_imageSmall{
  width:90%;
  margin-left:5%;
  margin-top:10%;
}

.shop_collection{
  margin-top:10%;
 
  text-align: center;
  font-size: 35px;
  
}

.clearance_Title{
  margin-left: 5%;
  margin-top: 5%;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.clearance_Words{
  font-size:25px ;
  margin-left: 5%;
  margin-top: 5%;
  width: 80%;
}
.scroll{
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.shop_Button{
  margin-left: 5%;
  font-size: 30px;
  padding:10px;
  border-radius:20%;
  border:0;
  background-color: black;
  color:white;
  margin-top: 5%;
}
.shop_Button:hover{
  background-color: rgb(255, 0, 0);
  ;
  cursor: pointer;
}
.coming_soon{
  font-size:150px;
  margin-top:10%;
  text-align: center;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.rip{
  font-size:50px;
  margin-left:5%;
  margin-top:20%;
  padding:5%;
  
  text-align: center;
}

.abloh_drawing{
  padding: 10%;
  
}

.videoWrapper {
margin-top:10% ;
margin-left:10%;
  
}
.videoWrapper2 {
  margin-top:5% ;
  margin-left:10%;
    
  }

  .abloh_containerSmall{
    display: none;
  }
  .customGif{
    display: none;
  }
  .model_Gif{
    display: none;
  }
.gifs{
  width:95%;
  height:auto;
}

.gif_words{
  padding: 10px;
  text-align: center;
  margin-left: 10%;
  width:85%;
  font-size:30px;
  margin-top: 2%;
}


.gif_words_models{
  padding: 20px;
  text-align: center;
  margin-left: 10%;
  width:85%;
  font-size:25px ;
}




/*footer stuff*/
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}

/*responsive stuff- footer*/
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
 
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }

  .abloh_drawing{
    padding: 10px ;
  }
  
  .videoWrapper {
  margin-top:10% ;
  margin-left:10%;
    
  }
  
  .gifs{
    width:95%;
    height:auto;
  }
  
  .gif_words{
    padding: 20px;
    text-align: center;
    margin-left: 10%;
    width:85%;
    font-size:25px ;
  }
  
  
  .gif_words_models{
    padding: 20px;
    text-align: center;
    margin-left: 10%;
    width:85%;
    font-size:25px ;
  }
  
  
  
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

/*responsive stuff-page */
.imageSize1{
  display:none;
}

.colSize{
  display:none;
}
.fathersdaySize2{
  display:none;
}

.collection_Small{
  display:none;
}


@media only screen and (max-width: 660px) {
  .imageSize1{
    display:block;
  }
  .imageSize2{
    display:none;
  }

  .colSize{
    display:block;
  }
  .rowSize{
    display:none;
  }
  
  .fathersdaySize2{
    display:block;
  }
  .fathersdaySize1{
    display:none;
  }

  .collection_Small{
    display:block;
  }
  .collection_Large{
    display:none;
  }

  .jordan_product{
    width:80%;
    border-radius: 10%;
    
  }

  .abloh_containerSmall{
    display: block;
  }
  .rowContainer3{
    display: none;
  }
  .customGif{
    display: block;
  }
  .rowContainer4{
    display: none;
  }
  .model_Gif{
    display: block;
  }
  .rowContainer5{
    display: none;
  }
}
@media only screen and (min-width: 1179px) {

  
}
@media only screen and (max-width: 950px) {
  
}
@media only screen and (max-width: 500px) {
    
}
@media only screen and (max-width: 340px) {
  
}