*{
  padding:0px;
  margin: 0px;
  font-family: Arial;
  box-sizing: border-box;
  
overflow-x:hidden;
}

.container1{
  width:80%;
  background-color:lightgrey;
  margin-left:10%;
  margin-top:15%;
  border-color: red;
  border-radius: 10%;
  padding:5%

}

.product_image{
  width:90%;
}

.product_title{
 font-size:200%;
 margin-left:12%;
}
.price{
  font-size: 200%;
  margin-left:50%;
  
}

.product_button{
font-size: 140%;
padding:1%;
margin-left: 20%;
}

.product_buy{
  margin-left: 50%;
}
.product_cart{
  margin-left: 30%;
}

.summer_sale_title{
  margin-top:10%;
  padding:10%
}

.summer_sale_words{
  margin-top:3%;
  padding:10%;

}

.shop{
  margin-top:10%;
  padding:10%;
  text-align: center;
}

.container2{
  width:80%;
  background-color:lightgrey;
  margin-left:10%;
  margin-top:15%;
  border-color: red;
  border-radius: 10%;
  padding:5%
}





.title1{
  font-size:200%;
  margin-left:50%;
}

.container3{
  width:80%;
  background-color:lightgrey;
  margin-left:10%;
  margin-top:15%;
  border-color: red;
  border-radius: 10%;
  padding:5%
}


.title3{
  font-size:200%;
  margin-left:50%;
}

.container4{
  width:80%;
  background-color:lightgrey;
  margin-left:10%;
  margin-top:15%;
  border-color: red;
  border-radius: 10%;
  padding:5%
}


.title4{
  font-size:200%;
  margin-left:50%;
}

.coming_soon{
  font-size:300%;
  margin-left:20%;
  margin-top:10%;
 
  margin:30%;
  text-align: center;
}

.rip{
  font-size:200%;
  margin-left:5%;
  margin-top:10%;
  padding:5%;
  
  text-align: center;
}

.videoWrapper {
margin-left: 22%;

  
}

.abloh_video{
  width:80%;
  height:auto;
}

